Repository aqueducthq/aqueduct, pull requests merged in 2022-07, with the labels that each got.

#172 Simplifies README and moves example to top level
  .github/workflows/run-notebooks.yml
  README.md
  examples/README.md
  examples/churn_prediction/Build and Deploy Churn Ensemble.ipynb
  examples/churn_prediction/data/churn_data.csv
  examples/churn_prediction/data/customers.csv
  examples/churn_prediction/models/churn-models.ipynb
  examples/churn_prediction/models/decision_tree_model.pkl
  examples/churn_prediction/models/linear_model.pkl
  examples/churn_prediction/models/model.joblib
  examples/churn_prediction/models/svm_model.pkl
  examples/churn_prediction/operators/utils.py
  examples/run_notebook.py
  examples/sentiment_analysis/Sentiment Model.ipynb
  examples/sentiment_analysis/requirements.txt
  examples/training_and_inference/Training and Inference in a Single Workflow.ipynb
Labels: run_integration_test

#167 Eng 1181, Eng 1281, Eng 1209 move download of binaries to setup.py
  scripts/install_local.py
  scripts/run_linters.py
  src/python/bin/aqueduct
  src/python/setup.py
Labels: run_integration_test

#136 adds copy button to sdk initialization …
  src/ui/common/package.json
  src/ui/common/src/components/pages/AccountPage.tsx
Labels: run_integration_test

#179 fixed "report issue" button weird margin
  src/ui/common/src/components/layouts/menu-sidebar-styles.module.css
Labels: run_integration_test

#180 Eng 1181 move download of binaries to pip install (followup)
  src/python/setup.py
Labels: run_integration_test

#178 make-archive-all-button-visible-at-all-time
  src/ui/common/src/components/notifications/NotificationsPopover.tsx
Labels: run_integration_test

#171 Allow the update script to update components separately
  .github/workflows/integration-tests.yml
  .github/workflows/run-notebooks.yml
  scripts/install_local.py
  scripts/run_linters.py
Labels: run_integration_test

#181 [UI] Add ability to trigger a flow with custom parameters
  src/golang/cmd/server/request/parameters.go
  src/ui/common/src/components/workflows/workflowHeader.tsx
  src/ui/common/src/utils/operators.ts
Labels: run_integration_test

#186 Write demo notebook for workflow parameterization
  .github/workflows/run-notebooks.yml
  examples/parameterization/Using Workflow Parameters.ipynb
  sdk/aqueduct/flow.py
Labels: run_integration_test

#190 Improves usage of ci tests by not relying on github paths
  .github/pull_request_template.md
  .github/workflows/pre-merge-ci.yml
  .github/workflows/skip-pre-merge-ci.yml
Labels: skip_integration_test

#162 adding live demo example
  sdk/examples/training_and_inference/Live Demo of Training and Inference.ipynb
  sdk/examples/training_and_inference/wines.csv
Labels: run_integration_test

#176 ENG 1297: Set up build to package UI for sagemaker
  src/ui/Makefile
  src/ui/app/index.tsx
  src/ui/app/package.json
  src/ui/common/src/components/cards/GettingStartedTutorial.tsx
  src/ui/common/src/components/integrations/cards/card.tsx
  src/ui/common/src/components/integrations/connectedIntegrations.tsx
  src/ui/common/src/components/layouts/menuSidebar.tsx
  src/ui/common/src/components/notifications/NotificationListItem.tsx
  src/ui/common/src/components/pages/LoginPage.tsx
  src/ui/common/src/components/workflows/workflowCard.tsx
  src/ui/common/src/utils/getPathPrefix.ts
Labels: run_integration_test

#184 Deprecate the use of ipynbname package in our SDK
  .github/workflows/run-notebooks.yml
  integration_tests/notebook/imported_function.ipynb
  integration_tests/notebook/operators/data
  integration_tests/notebook/operators/log_featurize.py
  sdk/aqueduct/utils.py
  sdk/requirements/python-3-10.txt
  sdk/requirements/python-3-7.txt
  sdk/requirements/python-3-8.txt
  sdk/requirements/python-3-9.txt
Labels: run_integration_test

#191 Add a `head` function to Table artifacts
  integration_tests/sdk/table_artifact_test.py
  sdk/aqueduct/integrations/sql_integration.py
  sdk/aqueduct/table_artifact.py
Labels: run_integration_test

#196 Fix link in parameterization demo notebook
  examples/parameterization/Using Workflow Parameters.ipynb
Labels: skip_integration_test

#197 Move setup back to aqueduct start
  src/python/bin/aqueduct
  src/python/setup.py
Labels: run_integration_test

#199 Fix bugs in README script from set up call
  README.md
Labels: skip_integration_test

#203 Update install script to properly install for SageMaker instances and bump release numbers
  scripts/install_local.py
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#204 Updates changelog for v0.0.4 release
  CHANGELOG.md
Labels: skip_integration_test

#200 Updates churn example to use correct port for UI
  examples/churn_prediction/Build and Deploy Churn Ensemble.ipynb
Labels: skip_integration_test

#202 Make password optional for the Postgres integration
  src/python/aqueduct_executor/operators/connectors/tabular/postgres.py
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/postgresDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: run_integration_test

#201 ENG-868-Add `describe()` method to each of the relational integrations.
  sdk/aqueduct/integrations/sql_integration.py
Labels: run_integration_test

#198 Schema migration for changing 'metadata' to 'exec_state'
  scripts/install_local.py
  src/golang/cmd/migrator/migrator/register.go
  src/golang/cmd/migrator/versions/000004_storage_interface_backfill/queries.go
  src/golang/cmd/migrator/versions/000010_add_exec_state_column/down_postgres.go
  src/golang/cmd/migrator/versions/000010_add_exec_state_column/main.go
  src/golang/cmd/migrator/versions/000010_add_exec_state_column/up_postgres.go
  src/golang/cmd/migrator/versions/000010_add_exec_state_column/up_sqlite.go
  src/golang/cmd/migrator/versions/000011_exec_state_column_backfill/main.go
  src/golang/cmd/migrator/versions/000011_exec_state_column_backfill/queries.go
  src/golang/cmd/migrator/versions/000011_exec_state_column_backfill/types.go
  src/golang/cmd/migrator/versions/000012_drop_metadata_column/down_postgres.go
  src/golang/cmd/migrator/versions/000012_drop_metadata_column/main.go
  src/golang/cmd/migrator/versions/000012_drop_metadata_column/up_postgres.go
  src/golang/cmd/migrator/versions/000012_drop_metadata_column/up_sqlite.go
  src/golang/lib/collections/operator_result/constants.go
  src/golang/lib/collections/operator_result/operator_result.go
  src/python/setup.py
Labels: run_integration_test

#206 Fixes run linter scripts when running commands
  scripts/run_linters.py
Labels: skip_integration_test

#194 Refactors S3 storage implementation to use user provided credentials
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/config/config.go
  src/golang/lib/collections/shared/storage.go
  src/golang/lib/storage/file.go
  src/golang/lib/storage/s3.go
  src/golang/lib/storage/s3_test.go
  src/python/aqueduct_executor/operators/utils/storage/config.py
  src/python/aqueduct_executor/operators/utils/storage/s3.py
Labels: run_integration_test

#193 Adds aqueduct storage command to CLI
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/config/config.go
  src/golang/lib/collections/shared/storage.go
  src/golang/lib/storage/file.go
  src/golang/lib/storage/s3.go
  src/golang/lib/storage/s3_test.go
  src/python/aqueduct_executor/operators/utils/storage/config.py
  src/python/aqueduct_executor/operators/utils/storage/s3.py
  src/python/bin/aqueduct
Labels: run_integration_test

#188 add workflow id to workflow setting
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
Labels: run_integration_test

#187 Direct user UI instead of pyplot dag image
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/utils.py
Labels: run_integration_test

#157 Eng 1241 Add ability to fetch an artifact from an existing flow version
  integration_tests/sdk/flow_test.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/check_artifact.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/metric_artifact.py
  sdk/aqueduct/operators.py
  sdk/aqueduct/param_artifact.py
  sdk/aqueduct/table_artifact.py
Labels: run_integration_test

#210 Adds default values for Python connectors for Postgres.port and Extract.query_is_usable
  src/python/aqueduct_executor/operators/connectors/tabular/config.py
  src/python/aqueduct_executor/operators/connectors/tabular/extract.py
Labels: run_integration_test

#211 Support multi file inputs from S3 integration
  sdk/aqueduct/integrations/s3_integration.py
  sdk/aqueduct/operators.py
  sdk/aqueduct/tests/serialization_test.py
  src/python/aqueduct_executor/operators/connectors/tabular/main.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: run_integration_test

#217 Update README with latest tagline
  README.md
Labels: skip_integration_test

#215 Bump release version to 0.0.5
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#207 Performs Code Structure/Naming changes for Orchestration Refactor
  src/golang/cmd/server/handler/create_table.go
  src/golang/cmd/server/handler/discover.go
  src/golang/cmd/server/handler/get_artifact_versions.go
  src/golang/cmd/server/handler/get_workflow.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/preview_table.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/request/dag.go
  src/golang/lib/collections/artifact/artifact.go
  src/golang/lib/collections/artifact/artifact_test.go
  src/golang/lib/collections/artifact/boolean/bool.go
  src/golang/lib/collections/artifact/float/float.go
  src/golang/lib/collections/artifact/jsonable/json.go
  src/golang/lib/collections/artifact/sqlite.go
  src/golang/lib/collections/artifact/standard.go
  src/golang/lib/collections/artifact/table/table.go
  src/golang/lib/collections/artifact/types.go
  src/golang/lib/collections/operator/check/check.go
  src/golang/lib/collections/operator/connector/extract.go
  src/golang/lib/collections/operator/connector/extract_params.go
  src/golang/lib/collections/operator/connector/extract_test.go
  src/golang/lib/collections/operator/connector/github/types.go
  src/golang/lib/collections/operator/connector/load.go
  src/golang/lib/collections/operator/connector/load_params.go
  src/golang/lib/collections/operator/connector/load_test.go
  src/golang/lib/collections/operator/function/function.go
  src/golang/lib/collections/operator/metric/metric.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/operator_test.go
  src/golang/lib/collections/operator/param/param.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
  src/golang/lib/collections/operator/system_metric/system_metric.go
  src/golang/lib/collections/operator/types.go
  src/golang/lib/collections/tests/operator_test.go
  src/golang/lib/collections/tests/server_custom_test.go
  src/golang/lib/collections/tests/utils.go
  src/golang/lib/collections/tests/workflow_dag_test.go
  src/golang/lib/collections/workflow_dag/sqlite.go
  src/golang/lib/collections/workflow_dag/standard.go
  src/golang/lib/collections/workflow_dag/workflow_dag.go
  src/golang/lib/job/spec.go
  src/golang/lib/workflow/dag/validation.go
  src/golang/lib/workflow/dag/validation_test.go
  src/golang/lib/workflow/operator/connector/github/client.go
  src/golang/lib/workflow/operator/connector/github/unimplemented.go
  src/golang/lib/workflow/operator/connector/github/utils.go
  src/golang/lib/workflow/operator/upload.go
  src/golang/lib/workflow/orchestrator/orchestrator.go
  src/golang/lib/workflow/scheduler/extract.go
  src/golang/lib/workflow/scheduler/function.go
  src/golang/lib/workflow/scheduler/load.go
  src/golang/lib/workflow/scheduler/param.go
  src/golang/lib/workflow/scheduler/schedule.go
  src/golang/lib/workflow/scheduler/system_metric.go
  src/golang/lib/workflow/utils/utils.go
Labels: run_integration_test

#140 Adds UI for connecting Airflow integration
  src/ui/common/src/components/integrations/cards/airflowCard.tsx
  src/ui/common/src/components/integrations/cards/card.tsx
  src/ui/common/src/components/integrations/dialogs/airflowDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#141 Adds backend support for connecting Airflow integration
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/backend/airflow/authenticate.go
  src/golang/lib/backend/airflow/config.go
  src/golang/lib/collections/integration/constants.go
Labels: run_integration_test

#220 Fixing embarrassing bug
  README.md
Labels: skip_integration_test

#219 Rmeove unnecessary files from parcel bundle
  src/ui/app/.parcelrc
  src/ui/app/package-lock.json
  src/ui/app/package.json
Labels: run_integration_test

#213 Refactors the orchestration engine to use new dag, operator, artifact, and orchestration interfaces.
  .github/workflows/lint-golang.yml
  .github/workflows/run-notebooks.yml
  sdk/aqueduct/flow.py
  src/golang/.golangci.yml
  src/golang/cmd/executor/executor/workflow.go
  src/golang/cmd/server/handler/preview.go
  src/golang/lib/collections/shared/types.go
  src/golang/lib/collections/workflow/standard.go
  src/golang/lib/job/job.go
  src/golang/lib/job/process.go
  src/golang/lib/job/spec.go
  src/golang/lib/storage/file.go
  src/golang/lib/storage/s3.go
  src/golang/lib/storage/storage.go
  src/golang/lib/workflow/artifact/artifact.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/operator/base.go
  src/golang/lib/workflow/operator/check.go
  src/golang/lib/workflow/operator/extract.go
  src/golang/lib/workflow/operator/function.go
  src/golang/lib/workflow/operator/load.go
  src/golang/lib/workflow/operator/metric.go
  src/golang/lib/workflow/operator/operator.go
  src/golang/lib/workflow/operator/param.go
  src/golang/lib/workflow/operator/system_metric.go
  src/golang/lib/workflow/operator/utils.go
  src/golang/lib/workflow/orchestrator/orchestrator.go
  src/golang/lib/workflow/scheduler/function.go
  src/golang/lib/workflow/scheduler/load.go
  src/golang/lib/workflow/scheduler/param.go
  src/golang/lib/workflow/scheduler/schedule.go
  src/golang/lib/workflow/scheduler/system_metric.go
  src/golang/lib/workflow/utils/utils.go
  src/python/aqueduct_executor/operators/utils/execution.py
  src/python/aqueduct_executor/operators/utils/storage/file.py
Labels: run_integration_test

#224 Reenable gci in golangci linter
  src/golang/.golangci.yml
Labels: skip_integration_test

#214 ENG-1358 Set up backend integration tests & include in Github Actions
  .github/workflows/integration-tests.yml
  integration_tests/backend/README.md
  integration_tests/backend/conftest.py
  integration_tests/backend/setup/changing_saves.py
  integration_tests/backend/test_backend.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/utils.py
Labels: skip_integration_test

#216 Eng 1345 create api endpoint to get tables associated for workflow_id
  .github/workflows/integration-tests.yml
  integration_tests/backend/README.md
  integration_tests/backend/conftest.py
  integration_tests/backend/setup/changing_saves.py
  integration_tests/backend/test_backend.py
  scripts/install_local.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/utils.py
  src/golang/cmd/server/handler/get_workflow_tables.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/internal/server/routes/routes.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
Labels: run_integration_test

#225 Fix bug where parameters argument to head() was unused.
  sdk/aqueduct/table_artifact.py
Labels: bug, run_integration_test

#229 Updates example notebooks based on user feedback
  .github/workflows/run-notebooks.yml
  examples/churn_prediction/Build and Deploy Churn Ensemble.ipynb
  examples/parameterization/Using Workflow Parameters.ipynb
  examples/run_notebook.py
  examples/sentiment_analysis/Sentiment Model.ipynb
  examples/training_and_inference/Training and Inference in a Single Workflow.ipynb
  integration_tests/notebook/imported_function.ipynb
  scripts/convert_nb_to_md.py
  scripts/generate_docs.sh
Labels: skip_integration_test

#208 [Server] Create server API endpoint to fetch operators associated with integration
  src/golang/cmd/migrator/migrator/register.go
  src/golang/cmd/server/handler/list_operators_for_integration.go
  src/golang/cmd/server/queries/postgres.go
  src/golang/cmd/server/queries/queries.go
  src/golang/cmd/server/queries/sqlite.go
  src/golang/cmd/server/queries/standard.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/internal/server/routes/routes.go
  src/golang/lib/collections/artifact/artifact_test.go
  src/golang/lib/collections/integration/postgres.go
  src/golang/lib/collections/integration/sqlite.go
  src/golang/lib/collections/integration/standard.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/operator_test.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/tests/operator_test.go
  src/golang/lib/collections/tests/server_custom_test.go
  src/golang/lib/collections/workflow/noop.go
Labels: run_integration_test

#233 Cleanup unzipped function directories properly on OSX
  src/python/aqueduct_executor/operators/function_executor/get_extract_path.py
  src/python/aqueduct_executor/start-function-executor.sh
Labels: bug, run_integration_test

#234 Fix logging for workflow name / type in executor code.
  src/golang/lib/job/spec.go
Labels: run_integration_test

#227 Add ability to distinguish between warnings and error level checks on backend
  integration_tests/sdk/checks_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/responses.py
  src/golang/lib/collections/shared/types.go
  src/golang/lib/job/spec.go
  src/golang/lib/workflow/artifact/artifact.go
  src/golang/lib/workflow/operator/check.go
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/function_executor/spec.py
  src/python/aqueduct_executor/operators/utils/execution.py
Labels: run_integration_test

#235 Eng 1427 fix database integration tests
  src/Makefile
  src/golang/lib/collections/tests/main_test.go
  src/golang/lib/collections/tests/operator_test.go
Labels: skip_integration_test

#236 Switch to a low-overhead way of authenticating S3 integration
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
Labels: run_integration_test

#243 Revert "Rmeove unnecessary files from parcel bundle"
  src/ui/app/.parcelrc
  src/ui/app/package-lock.json
  src/ui/app/package.json
Labels: skip_integration_test

#244 Disables connecting to Airflow from UI
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#237 ENG-1430 Fix UI Build in install_local.py
  scripts/install_local.py
Labels: skip_integration_test

#242 ENG-1407 Allow UI page sidebars to be passed in as prop.
  src/ui/common/src/components/pages/AccountPage.tsx
  src/ui/common/src/components/pages/HomePage.tsx
  src/ui/common/src/components/pages/data/index.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/pages/integrations/index.tsx
  src/ui/common/src/components/pages/types.d.ts
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/pages/workflows/index.tsx
Labels: skip_integration_test

#246 Fix error message for error severity check not passing
  src/golang/lib/workflow/operator/check.go
  src/python/aqueduct_executor/operators/utils/execution.py
Labels: run_integration_test

#247 modify install_local scripts to only select necessary UI files
  scripts/install_local.py
Labels: run_integration_test

#249 Bump version number and update changelog for release v0.0.6
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#250 Allows user to specify S3 credentials for Airflow integration
  src/golang/lib/backend/airflow/config.go
  src/ui/common/src/components/integrations/cards/airflowCard.tsx
  src/ui/common/src/components/integrations/dialogs/airflowDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#209 Adds workflow_dag engine_config column
  scripts/install_local.py
  src/golang/cmd/migrator/migrator/register.go
  src/golang/cmd/migrator/versions/000013_add_workflow_dag_engine_config/down_postgres.go
  src/golang/cmd/migrator/versions/000013_add_workflow_dag_engine_config/main.go
  src/golang/cmd/migrator/versions/000013_add_workflow_dag_engine_config/types.go
  src/golang/cmd/migrator/versions/000013_add_workflow_dag_engine_config/up_postgres.go
  src/golang/cmd/migrator/versions/000013_add_workflow_dag_engine_config/up_sqlite.go
  src/golang/cmd/server/request/dag.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/lib/collections/shared/engine.go
  src/golang/lib/collections/tests/main_test.go
  src/golang/lib/collections/tests/workflow_dag_test.go
  src/golang/lib/collections/workflow_dag/constants.go
  src/golang/lib/collections/workflow_dag/sqlite.go
  src/golang/lib/collections/workflow_dag/standard.go
  src/golang/lib/collections/workflow_dag/workflow_dag.go
  src/golang/lib/workflow/utils/utils.go
  src/python/bin/aqueduct
Labels: run_integration_test

#252 Update SDK's S3 integration api documentation
  sdk/aqueduct/integrations/s3_integration.py
Labels: skip_integration_test

#259 Fix a bug where we couldn't execute imported functions
  src/python/aqueduct_executor/operators/function_executor/execute.py
Labels: run_integration_test

#261 Add docs and Slack links to top of README
  README.md
Labels: skip_integration_test

#260 [backend] Upgrade go chi to v5
  src/golang/cmd/server/handler/archive_notification.go
  src/golang/cmd/server/handler/create_table.go
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/discover.go
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/export_function.go
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/handler/get_operator_result.go
  src/golang/cmd/server/handler/get_workflow.go
  src/golang/cmd/server/handler/get_workflow_tables.go
  src/golang/cmd/server/handler/list_operators_for_integration.go
  src/golang/cmd/server/handler/preview_table.go
  src/golang/cmd/server/handler/refresh_workflow.go
  src/golang/cmd/server/handler/unwatch_workflow.go
  src/golang/cmd/server/handler/watch_workflow.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/go.mod
  src/golang/go.sum
Labels: run_integration_test

#254 [UI] Show workflows associated with an integration in integration details page
  src/golang/cmd/server/handler/list_operators_for_integration.go
  src/ui/Makefile
  src/ui/app/package-lock.json
  src/ui/app/stores/store.ts
  src/ui/common/package-lock.json
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/layouts/default.tsx
  src/ui/common/src/components/operators/operatorParametersOverview.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/tables/operatorsTable.tsx
  src/ui/common/src/components/workflows/accordion.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integrationOperators.ts
  src/ui/common/src/stores/store.ts
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#258 Perform database migration for execution state on artifact result
  integration_tests/sdk/requirement_test.py
  scripts/install_local.py
  src/golang/cmd/migrator/migrator/register.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/down_postgres.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/main.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/up_postgres.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/up_sqlite.go
  src/golang/cmd/migrator/versions/000015_artifact_result_exec_state_column_backfill/main.go
  src/golang/cmd/migrator/versions/000015_artifact_result_exec_state_column_backfill/queries.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/lib/collections/artifact_result/artifact_result.go
  src/golang/lib/collections/operator_result/operator_result.go
  src/golang/lib/collections/tests/main_test.go
  src/python/bin/aqueduct
Labels: run_integration_test

#253 Add exec state to get_artifact_result
  integration_tests/sdk/requirement_test.py
  scripts/install_local.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/enums.py
  src/golang/cmd/migrator/migrator/register.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/down_postgres.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/main.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/up_postgres.go
  src/golang/cmd/migrator/versions/000014_add_exec_state_column_to_artifact_result/up_sqlite.go
  src/golang/cmd/migrator/versions/000015_artifact_result_exec_state_column_backfill/main.go
  src/golang/cmd/migrator/versions/000015_artifact_result_exec_state_column_backfill/queries.go
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/lib/collections/artifact_result/artifact_result.go
  src/golang/lib/collections/artifact_result/constants.go
  src/golang/lib/collections/operator_result/constants.go
  src/golang/lib/collections/operator_result/operator_result.go
  src/golang/lib/collections/shared/types.go
  src/golang/lib/collections/tests/main_test.go
  src/golang/lib/job/spec.go
  src/golang/lib/workflow/artifact/artifact.go
  src/golang/lib/workflow/operator/base.go
  src/golang/lib/workflow/operator/check.go
  src/golang/lib/workflow/operator/function.go
  src/golang/lib/workflow/operator/metric.go
  src/golang/lib/workflow/orchestrator/orchestrator.go
  src/golang/lib/workflow/utils/utils.go
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/function_executor/get_extract_path.py
  src/python/aqueduct_executor/operators/function_executor/spec.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/execution.py
  src/python/aqueduct_executor/operators/utils/utils.py
  src/python/bin/aqueduct
Labels: run_integration_test

#245 Add warning color to DAG in UI
  src/golang/cmd/server/handler/get_artifact_result.go
  src/python/aqueduct_executor/operators/utils/execution.py
  src/ui/common/src/components/workflows/SideSheets/OperatorResultsSideSheet.tsx
  src/ui/common/src/components/workflows/StatusBar.tsx
  src/ui/common/src/components/workflows/nodes/Node.tsx
  src/ui/common/src/components/workflows/nodes/NodeStatus.tsx
  src/ui/common/src/styles/theme/theme.tsx
  src/ui/common/src/utils/artifacts.ts
  src/ui/common/src/utils/operators.ts
  src/ui/common/src/utils/shared.ts
Labels: run_integration_test

#262 [ENG-1412, 1413, 1414] Fixes CSV upload modal bugs
  src/ui/common/src/components/integrations/dialogs/csvDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
Labels: skip_integration_test

#256 ENG- 1418 export spiraldemocard and sqlservercard
  src/ui/app/package-lock.json
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
  src/ui/common/src/components/integrations/cards/sqlServerCard.tsx
  src/ui/common/src/index.tsx
Labels: skip_integration_test

#264 [Bugfix] Fix bug where requirements.txt was not installing
  src/python/aqueduct_executor/operators/function_executor/spec.py
Labels: run_integration_test

#267 [ENG-1354, 1415] Fixes bottom sidesheet and ReactFlow alignment issues
  src/ui/app/package.json
  src/ui/common/package.json
  src/ui/common/src/components/layouts/sidebar/AqueductSidebar.tsx
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/workflows/ReactFlowCanvas.tsx
Labels: skip_integration_test

#269 Update Integration Test Timeout
  .github/workflows/integration-tests.yml
Labels: run_integration_test

#271 Returns ObjDoesNotExist error for S3 storage implementation
  src/golang/lib/storage/s3.go
Labels: run_integration_test

#272 [ENG-1459] Removes need to provide API key, server address when running locally
  sdk/aqueduct/aqueduct_client.py
Labels: run_integration_test

#265 Support operator with no input
  integration_tests/backend/test_backend.py
  integration_tests/sdk/conftest.py
  integration_tests/sdk/no_input_test.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/check_artifact.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/github.py
  sdk/aqueduct/integrations/google_sheets_integration.py
  sdk/aqueduct/integrations/s3_integration.py
  sdk/aqueduct/integrations/salesforce_integration.py
  sdk/aqueduct/integrations/sql_integration.py
  sdk/aqueduct/metric_artifact.py
  sdk/aqueduct/param_artifact.py
  sdk/aqueduct/table_artifact.py
  sdk/aqueduct/tests/metric_test.py
  sdk/aqueduct/tests/utils.py
  sdk/aqueduct/utils.py
  src/golang/lib/workflow/operator/function.go
Labels: run_integration_test

#255 Update query to include integration name
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
Labels: skip_integration_test

#239 Rename GetWorkflowTables -> GetWorkflowObjects
  integration_tests/backend/README.md
  integration_tests/backend/setup/changing_saves.py
  integration_tests/backend/test_reads.py
  integration_tests/backend/utils.py
  src/golang/cmd/server/handler/list_workflow_objects.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
Labels: run_integration_test
