Repository aqueducthq/aqueduct, pull requests merged in 2022-08, with the labels that each got.

#279 Bump version number and changelog for release 0.0.7
  CHANGELOG.md
  README.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#280 [ENG-1362, 1450] Fixes bug where user got unhelpful error message when Aqueduct server was off
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#277 Improve and logging in our SDK
  .github/workflows/integration-tests.yml
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/logger.py
  sdk/aqueduct/tests/serialization_test.py
  sdk/aqueduct/utils.py
Labels: skip_integration_test

#274 Re-introduce requirements inference in the SDK
  .github/workflows/integration-tests.yml
  integration_tests/sdk/checks_test.py
  integration_tests/sdk/conftest.py
  integration_tests/sdk/error_handling_test.py
  integration_tests/sdk/requirement_test.py
  integration_tests/sdk/requirements_tests/README.md
  integration_tests/sdk/requirements_tests/requirements_test.py
  integration_tests/sdk/requirements_tests/transformers_model/model.py
  integration_tests/sdk/requirements_tests/transformers_model/requirements.txt
  sdk/aqueduct/__init__.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/logger.py
  sdk/aqueduct/tests/decorator_test.py
  sdk/aqueduct/tests/serialization_test.py
  sdk/aqueduct/utils.py
  src/python/aqueduct_executor/operators/function_executor/get_extract_path.py
Labels: skip_integration_test

#285 [ENG-1219, 1365, 1440] Improves usability of Aqueduct CLI
  src/python/bin/aqueduct
  src/ui/common/src/components/pages/LoginPage.tsx
Labels: skip_integration_test

#228 Implements register_airflow workflow route
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/request/dag.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/airflow/authenticate.go
  src/golang/lib/airflow/config.go
  src/golang/lib/airflow/schedule.go
  src/golang/lib/airflow/schedule_test.go
  src/golang/lib/airflow/utils.go
  src/golang/lib/collections/shared/engine.go
  src/golang/lib/collections/tests/workflow_dag_test.go
  src/golang/lib/collections/workflow_dag/constants.go
  src/golang/lib/job/process.go
  src/golang/lib/job/spec.go
Labels: run_integration_test

#286 Make the format parameter type to the `s3.file` API string instead of enum
  sdk/aqueduct/integrations/s3_integration.py
  src/python/bin/aqueduct
Labels: skip_integration_test

#283 Update UI Documentation
  src/ui/README.md
Labels: skip_integration_test

#270 Adds warning about large models to sentiment workflow
  examples/sentiment_analysis/Sentiment Model.ipynb
Labels: skip_integration_test

#289 Fixed bug where connection error wasn't properly surfaced to the UI
  src/python/aqueduct_executor/operators/connectors/tabular/execute.py
Labels: skip_integration_test

#287 Use React Router Linking on MenuSidebar
  src/ui/common/package-lock.json
  src/ui/common/src/components/layouts/menuSidebar.tsx
  src/ui/common/src/utils/getPathPrefix.ts
Labels: skip_integration_test

#288 Provide more useful error message when the user hasn't installed connector dependencies
  src/python/aqueduct_executor/operators/connectors/tabular/execute.py
  src/python/aqueduct_executor/operators/utils/exceptions.py
  src/python/bin/aqueduct
Labels: run_integration_test

#281 Implements workflow to Airflow DAG compilation
  scripts/install_local.py
  src/golang/lib/airflow/schedule.go
  src/golang/lib/airflow/utils.go
  src/python/aqueduct_executor/operators/airflow/__init__.py
  src/python/aqueduct_executor/operators/airflow/dag.template
  src/python/aqueduct_executor/operators/airflow/execute.py
  src/python/aqueduct_executor/operators/airflow/main.py
  src/python/aqueduct_executor/operators/airflow/spec.py
  src/python/aqueduct_executor/operators/connectors/tabular/config.py
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: run_integration_test

#275 Use direct API call rather than separate process when setting up backend tests
  .github/workflows/integration-tests.yml
  integration_tests/backend/setup/changing_saves.py
  integration_tests/backend/setup/changing_saves_workflow.py
  integration_tests/backend/test_reads.py
Labels: run_integration_test

#284 Eng 1422 Integrations List Page Improvements
  src/ui/app/package.json
  src/ui/common/package.json
  src/ui/common/src/components/integrations/addIntegrations.tsx
  src/ui/common/src/components/pages/integrations/index.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#295 Fix links in data page cards
  src/ui/common/src/components/integrations/cards/card.tsx
Labels: skip_integration_test

#276 [1/4][Server] Eng 1037 implement a test connection button
  integration_tests/backend/README.md
  integration_tests/backend/conftest.py
  integration_tests/backend/setup/changing_saves_workflow.py
  integration_tests/backend/test_reads.py
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/handler/test_integration.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
Labels: run_integration_test

#294 Fix a bug where data page is broken
  src/golang/cmd/server/handler/get_artifact_versions.go
  src/golang/cmd/server/queries/postgres.go
  src/golang/cmd/server/queries/queries.go
  src/golang/cmd/server/queries/sqlite.go
  src/golang/cmd/server/queries/standard.go
  src/ui/common/src/components/integrations/cards/card.tsx
Labels: run_integration_test

#248 Allow users to create operators from existing functions
  integration_tests/sdk/operator_test.py
  integration_tests/sdk/test_function.py
  sdk/aqueduct/__init__.py
  sdk/aqueduct/decorator.py
Labels: run_integration_test

#278 [UI] fix metric operator node image being super small
  src/ui/common/src/components/workflows/nodes/BaseNode.styles.tsx
  src/ui/common/src/components/workflows/nodes/Node.tsx
Labels: bug, skip_integration_test

#298 [UI] fix the odd look for system metric operator node
  src/ui/common/src/reducers/nodeSelection.ts
  src/ui/common/src/utils/operators.ts
Labels: bug, skip_integration_test

#300 Update to_operator() naming
  sdk/aqueduct/decorator.py
Labels: run_integration_test

#293 [4/4] Enables integration's test connection button
  src/ui/common/src/components/integrations/buttonGroup.tsx
  src/ui/common/src/components/integrations/cards/detailCard.tsx
  src/ui/common/src/components/integrations/connectedIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/primitives/ButtonGroup.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#292 [3/4] Clean up integration page codes by re-orging redux and components
  src/ui/app/stores/store.ts
  src/ui/common/src/components/integrations/buttonGroup.tsx
  src/ui/common/src/components/integrations/cards/detailCard.tsx
  src/ui/common/src/components/integrations/connectedIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/components/integrations/integrationObjectPreview.tsx
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/layouts/data_previewer.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/primitives/ButtonGroup.tsx
  src/ui/common/src/components/tables/dataTable.tsx
  src/ui/common/src/components/tables/operatorsTable.tsx
  src/ui/common/src/components/workflows/accordion.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
  src/ui/common/src/reducers/integrationOperators.ts
  src/ui/common/src/reducers/integrationTableData.ts
  src/ui/common/src/reducers/integrationTables.ts
  src/ui/common/src/stores/store.ts
  src/ui/common/src/utils/data.ts
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#291 [2/4] Add button group to integration details
  src/ui/app/stores/store.ts
  src/ui/common/src/components/integrations/cards/detailCard.tsx
  src/ui/common/src/components/integrations/connectedIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/components/integrations/integrationObjectPreview.tsx
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/layouts/data_previewer.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/primitives/ButtonGroup.tsx
  src/ui/common/src/components/tables/dataTable.tsx
  src/ui/common/src/components/tables/operatorsTable.tsx
  src/ui/common/src/components/workflows/accordion.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
  src/ui/common/src/reducers/integrationOperators.ts
  src/ui/common/src/reducers/integrationTableData.ts
  src/ui/common/src/reducers/integrationTables.ts
  src/ui/common/src/stores/store.ts
  src/ui/common/src/utils/data.ts
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#297 Remove aqueduct-ml/sdk from any requirements.txt
  integration_tests/sdk/operator_test.py
  sdk/aqueduct/utils.py
Labels: run_integration_test

#304 Add `verbose` mode so that by default only error logs are shown in the terminal
  src/golang/cmd/server/handler/archive_notification.go
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/handler/get_node_positions.go
  src/golang/cmd/server/handler/get_operator_result.go
  src/golang/cmd/server/handler/list_notifications.go
  src/golang/cmd/server/main.go
  src/golang/cmd/server/middleware/authentication/authentication.go
  src/golang/cmd/server/request/payload.go
  src/golang/cmd/server/response/response.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/database/stmt_preparers/util.go
  src/golang/lib/logging/response.go
  src/python/bin/aqueduct
Labels: skip_integration_test

#302 Use virtual table to improve render efficiency
  .github/workflows/ui-build.yml
  scripts/install_local.py
  src/ui/app/package.json
  src/ui/common/package.json
  src/ui/common/src/components/integrations/integrationObjectPreview.tsx
  src/ui/common/src/components/layouts/data_previewer.tsx
  src/ui/common/src/components/tables/DataTable.tsx
  src/ui/common/src/components/tables/dataTable.tsx
  src/ui/common/src/index.tsx
Labels: skip_integration_test

#306 Update UI README for local dev with React virtualized
  src/ui/README.md
Labels: skip_integration_test

#212 Adds logo to the menu sidebar
  src/ui/common/package-lock.json
  src/ui/common/src/components/layouts/menuSidebar.tsx
Labels: skip_integration_test

#310 Revert "Refactors the Engine Interface"
  integration_tests/backend/utils.py
  integration_tests/sdk/utils.py
  src/golang/cmd/executor/executor/executor.go
  src/golang/cmd/executor/executor/workflow.go
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/refresh_workflow.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/cmd/server/server/cron.go
  src/golang/cmd/server/server/database.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/cronjob/cronjob.go
  src/golang/lib/cronjob/process.go
  src/golang/lib/cronjob/process_test.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/engine/aq_engine.go
  src/golang/lib/workflow/engine/engine.go
  src/golang/lib/workflow/engine/utils.go
  src/golang/lib/workflow/orchestrator/orchestrator.go
Labels: run_integration_test

#313 Fix latency issue introduced by long requirement.txt
  src/python/aqueduct_executor/operators/function_executor/prune_requirements.py
  src/python/aqueduct_executor/start-function-executor.sh
Labels: skip_integration_test

#314 Release 0.0.8
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
Labels: skip_integration_test

#223 Moved example training and inference notebook location
  examples/training_and_inference/Wine Predictions.ipynb
  sdk/examples/training_and_inference/Live Demo of Training and Inference.ipynb
  sdk/examples/training_and_inference/wines.csv
Labels: skip_integration_test

#316 ENG-1533 Frontend: Use default value for SERVER_ADDRESS
  src/ui/common/src/components/hooks/useAqueductConsts.ts
Labels: skip_integration_test

#318 Remove system name prefix from newly connected integrations
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
Labels: skip_integration_test

#319 Update README based on user feedback
  README.md
Labels: skip_integration_test

#317 Refactors Engine using executor binary
  integration_tests/sdk/flow_test.py
  src/golang/cmd/executor/executor/database.go
  src/golang/cmd/executor/executor/workflow.go
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/refresh_workflow.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/cmd/server/server/cron.go
  src/golang/cmd/server/server/database.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/cronjob/cronjob.go
  src/golang/lib/cronjob/process.go
  src/golang/lib/cronjob/process_test.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/engine/engine.go
  src/golang/lib/engine/utils.go
  src/golang/lib/job/spec.go
  src/golang/lib/workflow/orchestrator/orchestrator.go
Labels: run_integration_test

#326 Updates logo to use properly colored asset
  README.md
Labels: skip_integration_test

#324 Removes deprecated commands from CLI
  src/python/bin/aqueduct
Labels: skip_integration_test

#325 [ENG-1458] Adds __str__ method to TableArtifact
  sdk/aqueduct/table_artifact.py
  sdk/aqueduct/tests/metric_test.py
Labels: skip_integration_test

#315 Implements syncing Airflow DAG runs
  src/golang/cmd/server/handler/list_workflows.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/queries/postgres.go
  src/golang/cmd/server/queries/queries.go
  src/golang/cmd/server/queries/sqlite.go
  src/golang/cmd/server/queries/standard.go
  src/golang/cmd/server/server/cron.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/airflow/client.go
  src/golang/lib/airflow/schedule.go
  src/golang/lib/airflow/sync.go
  src/golang/lib/airflow/utils.go
  src/golang/lib/airflow/writer.go
  src/golang/lib/collections/artifact_result/artifact_result.go
  src/golang/lib/collections/artifact_result/noop.go
  src/golang/lib/collections/artifact_result/sqlite.go
  src/golang/lib/collections/artifact_result/standard.go
  src/golang/lib/collections/operator_result/noop.go
  src/golang/lib/collections/operator_result/operator_result.go
  src/golang/lib/collections/operator_result/sqlite.go
  src/golang/lib/collections/operator_result/standard.go
  src/golang/lib/collections/tests/server_custom_test.go
  src/golang/lib/workflow/operator/base.go
  src/golang/lib/workflow/operator/operator.go
  src/python/aqueduct_executor/operators/airflow/dag.template
Labels: run_integration_test

#330 Avoid spamming the server when reads when waiting for flows to complete in tests
  integration_tests/sdk/utils.py
Labels: skip_integration_test

#296 Allow operators to start their own execution if necessary
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/workflow/operator/base.go
  src/golang/lib/workflow/operator/check.go
  src/golang/lib/workflow/operator/extract.go
  src/golang/lib/workflow/operator/function.go
  src/golang/lib/workflow/operator/load.go
  src/golang/lib/workflow/operator/metric.go
  src/golang/lib/workflow/operator/operator.go
  src/golang/lib/workflow/operator/param.go
  src/golang/lib/workflow/operator/system_metric.go
  src/golang/lib/workflow/operator/utils.go
Labels: run_integration_test

#268 Eng 1431 testing delete saved objects + api endpoint to get saved objects associated with an integration
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  src/golang/cmd/server/handler/integration_objects.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/go.mod
  src/golang/go.sum
Labels: skip_integration_test

#266 Eng 1325 api route delete workflow associated
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/list_integration_objects.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/collections/integration/integration.go
  src/golang/lib/collections/integration/standard.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/job/process.go
  src/golang/lib/job/spec.go
  src/python/aqueduct_executor/operators/connectors/tabular/bigquery.py
  src/python/aqueduct_executor/operators/connectors/tabular/connector.py
  src/python/aqueduct_executor/operators/connectors/tabular/execute.py
  src/python/aqueduct_executor/operators/connectors/tabular/relational.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/python/aqueduct_executor/operators/connectors/tabular/spec.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/saved_object_delete.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: run_integration_test

#241 Eng 1369 allow users to delete workflows and associated written objects in SDK
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/responses.py
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/list_integration_objects.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/collections/integration/integration.go
  src/golang/lib/collections/integration/standard.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/job/process.go
  src/golang/lib/job/spec.go
  src/python/aqueduct_executor/operators/connectors/tabular/bigquery.py
  src/python/aqueduct_executor/operators/connectors/tabular/connector.py
  src/python/aqueduct_executor/operators/connectors/tabular/execute.py
  src/python/aqueduct_executor/operators/connectors/tabular/relational.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/python/aqueduct_executor/operators/connectors/tabular/spec.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/saved_object_delete.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: skip_integration_test

#334 Eng 1438 UI support to connect to S3 using credential file.
  src/ui/common/src/components/integrations/dialogs/IntegrationFileUploadField.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#333 Eng 1438 backend support for connecting to s3 using credential file
  src/golang/lib/engine/engine.go
  src/golang/lib/job/process.go
  src/golang/lib/workflow/operator/connector/auth/static_config.go
  src/python/aqueduct_executor/operators/connectors/tabular/config.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/ui/common/src/components/integrations/dialogs/IntegrationFileUploadField.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/utils/integrations.ts
Labels: run_integration_test

#337 [ENG-1504] Fixes bug where CSV upload modal errors were incorrectly displayed
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#336 Add exception to traceback message
  src/python/aqueduct_executor/operators/utils/execution.py
Labels: skip_integration_test

#308 Fix bug where integration connected after SDK client is created isn't available
  sdk/aqueduct/aqueduct_client.py
Labels: run_integration_test

#342 Eng 1507 add stack trace to failed object deletion in workflow deletion [UI/3]
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: skip_integration_test

#341 Eng 1507 add stack trace to failed object deletion in workflow deletion [SDK/3]
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/responses.py
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: run_integration_test

#343 Fix handling SSO credentials
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
Labels: skip_integration_test

#340 Eng 1507 add stack trace to failed object deletion in workflow deletion [BE/3]
  integration_tests/backend/utils.py
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/responses.py
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/lib/engine/engine.go
  src/golang/lib/job/process.go
  src/golang/lib/workflow/operator/connector/auth/static_config.go
  src/python/aqueduct_executor/operators/connectors/tabular/bigquery.py
  src/python/aqueduct_executor/operators/connectors/tabular/config.py
  src/python/aqueduct_executor/operators/connectors/tabular/connector.py
  src/python/aqueduct_executor/operators/connectors/tabular/relational.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/python/aqueduct_executor/operators/connectors/tabular/spec.py
  src/python/aqueduct_executor/operators/utils/execution.py
  src/python/aqueduct_executor/operators/utils/saved_object_delete.py
  src/python/aqueduct_executor/operators/utils/utils.py
  src/ui/common/src/components/integrations/dialogs/IntegrationFileUploadField.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/workflows.tsx
Labels: run_integration_test

#345 Allows for publishing Airflow workflows from the SDK
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/enums.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/integrations/airflow_integration.py
  sdk/aqueduct/responses.py
Labels: run_integration_test

#327 [ENG-1328] Cleans up welcome page
  src/ui/common/src/components/cards/GettingStartedTutorial.tsx
  src/ui/common/src/components/layouts/default.tsx
Labels: skip_integration_test

#329 Add artifact name to response in get_artifact_result
  src/golang/cmd/server/handler/get_artifact_result.go
Labels: run_integration_test

#350 Deletes unused list builtin functions route
  src/golang/cmd/server/handler/list_builtin_functions.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
Labels: run_integration_test

#339 [ENG-1534] Adds status to WorkflowHeader
  src/ui/common/src/components/workflows/workflowHeader.tsx
Labels: skip_integration_test

#352 Eng 1557 Fix bug where the required Python packages on the client machine aren't automatically installed on the server
  .github/workflows/integration-tests.yml
  .github/workflows/mypy.yml
  .github/workflows/periodic-integration-tests.yml
  .github/workflows/run-notebooks.yml
  .github/workflows/unit-tests-sdk.yml
  examples/run_notebook.py
  integration_tests/sdk/requirements_tests/requirements_test.py
  scripts/install_local.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/utils.py
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/function_executor/prune_requirements.py
  src/python/aqueduct_executor/start-function-executor.sh
Labels: run_integration_test

#357 Revert "ENG-1533 Frontend: Use default value for SERVER_ADDRESS"
  src/ui/common/src/components/hooks/useAqueductConsts.ts
Labels: skip_integration_test

#358 Update warning message when checking pip freeze requirements to be more informative
  sdk/aqueduct/aqueduct_client.py
Labels: skip_integration_test

#359 Ready for release 0.0.9
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#360 Fix minor Python linting issues
  examples/run_notebook.py
  integration_tests/sdk/requirements_tests/requirements_test.py
Labels: skip_integration_test

#290 Eng 1370 UI allow users to delete workflow saved objects
  integration_tests/backend/utils.py
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/responses.py
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/integration_objects.go
  src/golang/lib/engine/engine.go
  src/golang/lib/job/process.go
  src/golang/lib/workflow/operator/connector/auth/static_config.go
  src/python/aqueduct_executor/operators/connectors/tabular/bigquery.py
  src/python/aqueduct_executor/operators/connectors/tabular/config.py
  src/python/aqueduct_executor/operators/connectors/tabular/connector.py
  src/python/aqueduct_executor/operators/connectors/tabular/relational.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/python/aqueduct_executor/operators/connectors/tabular/spec.py
  src/python/aqueduct_executor/operators/utils/execution.py
  src/python/aqueduct_executor/operators/utils/saved_object_delete.py
  src/python/aqueduct_executor/operators/utils/utils.py
  src/ui/app/.parcelrc
  src/ui/app/package-lock.json
  src/ui/app/package.json
  src/ui/common/src/components/integrations/dialogs/IntegrationFileUploadField.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/integrationObjectList.tsx
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/workflow.ts
  src/ui/common/src/styles/theme/theme.tsx
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/workflows.tsx
Labels: skip_integration_test

#240 Eng 1394 allow getting workflow-written/saved objects from the sdk
  integration_tests/backend/test_reads.py
  integration_tests/backend/utils.py
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/list_workflow_objects_test.py
  integration_tests/sdk/utils.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/integrations/integration.py
  sdk/aqueduct/responses.py
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/integration_objects.go
  src/golang/cmd/server/handler/list_integration_objects.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/collections/integration/integration.go
  src/golang/lib/collections/integration/standard.go
  src/golang/lib/collections/operator/operator.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/job/process.go
  src/golang/lib/job/spec.go
  src/python/aqueduct_executor/operators/connectors/tabular/bigquery.py
  src/python/aqueduct_executor/operators/connectors/tabular/connector.py
  src/python/aqueduct_executor/operators/connectors/tabular/execute.py
  src/python/aqueduct_executor/operators/connectors/tabular/relational.py
  src/python/aqueduct_executor/operators/connectors/tabular/s3.py
  src/python/aqueduct_executor/operators/connectors/tabular/spec.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/saved_object_delete.py
  src/python/aqueduct_executor/operators/utils/utils.py
  src/ui/app/.parcelrc
  src/ui/app/package-lock.json
  src/ui/app/package.json
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/workflow.ts
  src/ui/common/src/styles/theme/theme.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: run_integration_test

#361 Remove prints
  src/golang/cmd/server/handler/list_integration_objects.go
Labels: skip_integration_test

#355 ENG-1566 Export CSV file name fix
  src/ui/common/src/components/pages/workflow/id/index.tsx
Labels: skip_integration_test

#349 Introduce concurrency back into integration tests
  .github/workflows/integration-tests.yml
  .github/workflows/periodic-integration-tests.yml
  integration_tests/sdk/utils.py
  src/golang/lib/database/scanner.go
  src/golang/lib/database/sqlite.go
Labels: run_integration_test

#364 Revert integration test concurrency back to 1
  .github/workflows/integration-tests.yml
  .github/workflows/periodic-integration-tests.yml
Labels: skip_integration_test

#354 Log server filepaths and line numbers in verbose mode
  src/golang/cmd/server/main.go
Labels: run_integration_test

#363 Remove double workflow deletion from test_delete_workflow_* tests
  integration_tests/sdk/constants.py
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/utils.py
Labels: bug, skip_integration_test

#338 Delete cached preview data on server startup
  dump.rdb
  scripts/install_local.py
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/utils/exec_output_paths.go
  src/python/bin/aqueduct
Labels: run_integration_test

#328 Implement preview artifact caching
  dump.rdb
  integration_tests/sdk/preview_test.py
  integration_tests/sdk/utils.py
  scripts/install_local.py
  sdk/aqueduct/api_client.py
  sdk/aqueduct/utils.py
  src/golang/cmd/executor/executor/workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/airflow/schedule.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/storage/storage.go
  src/golang/lib/workflow/artifact/artifact.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/operator/base.go
  src/golang/lib/workflow/operator/extract.go
  src/golang/lib/workflow/operator/load.go
  src/golang/lib/workflow/operator/operator.go
  src/golang/lib/workflow/operator/param.go
  src/golang/lib/workflow/operator/system_metric.go
  src/golang/lib/workflow/operator/utils.go
  src/golang/lib/workflow/preview_cache/preview_cache.go
  src/golang/lib/workflow/preview_cache/preview_cache_test.go
  src/golang/lib/workflow/utils/exec_output_paths.go
  src/golang/lib/workflow/utils/utils.go
  src/python/bin/aqueduct
Labels: run_integration_test

#353 Allows config to be modified for running server
  src/golang/cmd/executor/executor/workflow.go
  src/golang/cmd/migrator/versions/000016_add_artifact_type_column_to_artifact/utils.go
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/handler/create_table.go
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/discover.go
  src/golang/cmd/server/handler/integration_objects.go
  src/golang/cmd/server/handler/list_integration_objects.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/preview_table.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/handler/test_integration.go
  src/golang/cmd/server/main.go
  src/golang/cmd/server/server/aqueduct_server.go
  src/golang/cmd/server/server/handlers.go
  src/golang/config/config.go
  src/golang/config/config_test.go
  src/golang/lib/airflow/schedule.go
  src/golang/lib/context/context.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/job/spec.go
  src/golang/lib/workflow/dag/workflow_dag.go
Labels: run_integration_test

#356 Adds check for AWS env vars in aqueduct_executor
  src/python/aqueduct_executor/operators/utils/storage/s3.py
Labels: run_integration_test

#369 Fix sqlite transactional concurrency issue around SQLITE_BUSY and SQLITE_LOCKED
  integration_tests/sdk/utils.py
  src/golang/lib/database/scanner.go
  src/golang/lib/database/sqlite.go
  src/golang/lib/database/standard.go
Labels: run_integration_test

#372 Double deletion 2
  integration_tests/sdk/delete_workflow_test.py
  integration_tests/sdk/preview_test.py
Labels: run_integration_test

#366 Fixes S3 path parsing bug
  src/golang/lib/storage/s3.go
  src/golang/lib/storage/s3_test.go
  src/python/aqueduct_executor/operators/utils/storage/s3.py
Labels: run_integration_test

#375 Eng 1522 fix a bug where UI only showing the latest DAG on refresh
  src/ui/common/src/reducers/workflow.ts
Labels: skip_integration_test

#373 Fix data migration script to account for artifact result being missing due to failure
  src/golang/cmd/migrator/versions/000016_add_artifact_type_column_to_artifact/main.go
  src/golang/cmd/migrator/versions/000016_add_artifact_type_column_to_artifact/utils.go
  src/golang/lib/collections/artifact/types.go
Labels: skip_integration_test

#378 Remove `show_dag` api from SDK
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/flow_run.py
Labels: run_integration_test

#365 Allows users to set S3 as storage layer when connecting integration
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#362 Adds backend support for changing storage to S3 integration
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/lib/collections/integration/config.go
  src/python/aqueduct_executor/operators/connectors/data/config.py
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#347 Adds K8s integration to backend
  src/golang/cmd/executor/executor/database.go
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/server/database.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/collections/integration/constants.go
  src/golang/lib/collections/shared/engine.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/engine/authenticate.go
  src/golang/lib/engine/utils.go
  src/golang/lib/engine/utils_test.go
  src/golang/lib/job/config.go
  src/golang/lib/job/constants.go
  src/golang/lib/job/job.go
  src/golang/lib/job/k8s.go
  src/golang/lib/k8s/clients.go
  src/golang/lib/k8s/constants.go
  src/golang/lib/k8s/jobs.go
  src/golang/lib/k8s/secrets.go
  src/golang/lib/k8s/utils.go
  src/ui/common/src/components/integrations/cards/card.tsx
  src/ui/common/src/components/integrations/cards/kubernetesCard.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/kubernetesDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: run_integration_test

#380 Remove accidentally dumped file
  dump.rdb
Labels: skip_integration_test

#381 Fix a minor logging bug during data migration
  src/golang/cmd/migrator/versions/000016_add_artifact_type_column_to_artifact/utils.go
Labels: skip_integration_test

#382 Updates package-lock.json for aqueducthq/common.
  src/ui/common/package-lock.json
Labels: skip_integration_test

#383 Make k8s inactive on UI
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#384 Ready for release 0.0.10
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
Labels: skip_integration_test

#385 Update our SDK doc generation script to be up-to-date with the new folder structure
  scripts/generate_docs.sh
Labels: skip_integration_test

#387 Ready for v0.0.11
  CHANGELOG.md
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
Labels: skip_integration_test

#332 Adds docker images to execute operators on k8s
  src/dockerfiles/Makefile
  src/dockerfiles/connectors/base.dockerfile
  src/dockerfiles/connectors/bigquery.dockerfile
  src/dockerfiles/connectors/mysql.dockerfile
  src/dockerfiles/connectors/postgres.dockerfile
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/connectors/snowflake.dockerfile
  src/dockerfiles/connectors/sqlserver.dockerfile
  src/dockerfiles/function/function.dockerfile
  src/dockerfiles/function/py310_environment.yml
  src/dockerfiles/function/py37_environment.yml
  src/dockerfiles/function/py38_environment.yml
  src/dockerfiles/function/py39_environment.yml
  src/dockerfiles/function/start-function-executor.sh
  src/dockerfiles/param/param.dockerfile
  src/dockerfiles/system-metric/system-metric.dockerfile
Labels: skip_integration_test

#371 Implements option to publish a k8s workflow in SDK
  sdk/aqueduct/__init__.py
  sdk/aqueduct/aqueduct_client.py
  sdk/aqueduct/config.py
  sdk/aqueduct/dag.py
  sdk/aqueduct/enums.py
  sdk/aqueduct/flow.py
  sdk/aqueduct/integrations/k8s_integration.py
  sdk/aqueduct/utils.py
Labels: run_integration_test

#389 Activate k8s integration on UI
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#305 Eng 1326 api route to delete integration
  integration_tests/backend/setup/__init__.py
  integration_tests/backend/setup/changing_saves_workflow.py
  integration_tests/backend/test_reads.py
  src/golang/cmd/server/handler/delete_integration.go
  src/golang/cmd/server/handler/discover.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/preview_table.go
  src/golang/cmd/server/handler/register_airflow_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/request/integration.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/collections/integration/constants.go
  src/golang/lib/collections/integration/integration.go
  src/golang/lib/collections/integration/standard.go
  src/golang/lib/workflow/dag/validation.go
  src/ui/common/src/components/integrations/connectedIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/deleteIntegrationDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/components/pages/integrations/index.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
Labels: run_integration_test

#386 Clarifying comments in Python code
  sdk/aqueduct/integrations/integration.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: skip_integration_test

#379 Adds notebook integration test for util.py file dependency
  .github/workflows/run-notebooks.yml
  integration_tests/notebook/imported_function.ipynb
  integration_tests/notebook/util.py
  integration_tests/notebook/util_dependency.ipynb
  sdk/aqueduct/tests/decorator_test.py
  sdk/aqueduct/utils.py
Labels: run_integration_test

#322 [3/3] Handles readonly fields and provide workflow information in integration dialog
  src/python/aqueduct_executor/operators/utils/execution.py
  src/ui/common/src/components/integrations/addIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/IntegrationTextInputField.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/airflowDialog.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/constants.ts
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/mariadbDialog.tsx
  src/ui/common/src/components/integrations/dialogs/mysqlDialog.tsx
  src/ui/common/src/components/integrations/dialogs/postgresDialog.tsx
  src/ui/common/src/components/integrations/dialogs/redshiftDialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/dialogs/snowflakeDialog.tsx
Labels: skip_integration_test

#321 [2/3] Allow user to edit integrations in integration management.
  src/python/aqueduct_executor/operators/utils/execution.py
  src/ui/common/src/components/integrations/addIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/IntegrationTextInputField.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/airflowDialog.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/constants.ts
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/kubernetesDialog.tsx
  src/ui/common/src/components/integrations/dialogs/mariadbDialog.tsx
  src/ui/common/src/components/integrations/dialogs/mysqlDialog.tsx
  src/ui/common/src/components/integrations/dialogs/postgresDialog.tsx
  src/ui/common/src/components/integrations/dialogs/redshiftDialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/dialogs/snowflakeDialog.tsx
  src/ui/common/src/components/integrations/integrationObjectPreview.tsx
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#320 [1/3] Eng 1323 Provide api ndpoint to edit integration
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/handler/edit_integration.go
  src/golang/cmd/server/handler/integration_objects.go
  src/golang/cmd/server/handler/preview.go
  src/golang/cmd/server/handler/test_integration.go
  src/golang/cmd/server/request/integration.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/config/config_test.go
  src/golang/lib/collections/tests/server_custom_test.go
  src/golang/lib/workflow/operator/connector/auth/config_store.go
  src/golang/lib/workflow/operator/connector/auth/static_config.go
  src/golang/lib/workflow/preview_cache/preview_cache_test.go
  src/python/aqueduct_executor/operators/utils/execution.py
  src/ui/common/src/components/integrations/addIntegrations.tsx
  src/ui/common/src/components/integrations/dialogs/IntegrationTextInputField.tsx
  src/ui/common/src/components/integrations/dialogs/addTableDialog.tsx
  src/ui/common/src/components/integrations/dialogs/airflowDialog.tsx
  src/ui/common/src/components/integrations/dialogs/bigqueryDialog.tsx
  src/ui/common/src/components/integrations/dialogs/constants.ts
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/kubernetesDialog.tsx
  src/ui/common/src/components/integrations/dialogs/mariadbDialog.tsx
  src/ui/common/src/components/integrations/dialogs/mysqlDialog.tsx
  src/ui/common/src/components/integrations/dialogs/postgresDialog.tsx
  src/ui/common/src/components/integrations/dialogs/redshiftDialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/integrations/dialogs/snowflakeDialog.tsx
  src/ui/common/src/components/integrations/integrationObjectPreview.tsx
  src/ui/common/src/components/integrations/operatorsOnIntegration.tsx
  src/ui/common/src/components/integrations/options.tsx
  src/ui/common/src/components/pages/integration/id/index.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integration.ts
  src/ui/common/src/utils/integrations.ts
  src/ui/common/src/utils/shared.ts
Labels: run_integration_test

#390 Implements Google Cloud Storage metadata store layer
  sdk/aqueduct/enums.py
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/collections/integration/config.go
  src/golang/lib/collections/integration/constants.go
  src/golang/lib/collections/shared/storage.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/storage/gcs.go
  src/golang/lib/storage/storage.go
  src/python/aqueduct_executor/operators/connectors/data/common.py
  src/python/aqueduct_executor/operators/connectors/data/config.py
  src/python/aqueduct_executor/operators/connectors/data/connector.py
  src/python/aqueduct_executor/operators/connectors/data/execute.py
  src/python/aqueduct_executor/operators/connectors/data/gcs.py
  src/python/aqueduct_executor/operators/utils/storage/config.py
  src/python/aqueduct_executor/operators/utils/storage/gcs.py
  src/python/aqueduct_executor/operators/utils/storage/parse.py
  src/python/requirements.txt
Labels: run_integration_test

#393 Allows users to connect google cloud storage integration from UI
  src/ui/common/src/components/integrations/cards/card.tsx
  src/ui/common/src/components/integrations/cards/gcsCard.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/gcsDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#394 Adds support for k8s engines to access gcs credentials
  src/golang/lib/engine/utils.go
  src/golang/lib/job/k8s.go
  src/golang/lib/job/spec.go
Labels: run_integration_test

#395 Adds documentation link for connecting Google Cloud Storage integration
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/gcsDialog.tsx
Labels: skip_integration_test

#396 Fixes docker images to version 0.0.12 for k8s
  src/golang/lib/job/constants.go
Labels: skip_integration_test

#397 Ready for release 0.0.12
  CHANGELOG.md
  sdk/aqueduct/integrations/k8s_integration.py
  sdk/setup.py
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package.json
Labels: skip_integration_test

#398 Adds k8s auth pkg
  src/golang/go.mod
  src/golang/go.sum
  src/golang/lib/job/k8s.go
Labels: skip_integration_test

#400 Fixes linting script for UI
  scripts/run_linters.py
Labels: skip_integration_test

#399 Removes team pane from notifications
  src/ui/common/src/components/notifications/NotificationsPopover.tsx
Labels: skip_integration_test

#346 This PR adds regression testing for version upgrades
  .github/workflows/regression-tests.yml
  regression_tests/playwright.config.ts
  regression_tests/tests/screenshot.test.ts
  regression_tests/tests/trigger.test.ts
  regression_tests/tests/workflow_comparer.py
Labels: run_integration_test

#402 Consolidates the notifications panes into a single box
  src/ui/common/src/components/notifications/NotificationsPopover.tsx
Labels: skip_integration_test

#391 Eng 1316 Update comments for all server handlers to follow handler-comment templates
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/cmd/server/handler/delete_workflow.go
  src/golang/cmd/server/handler/edit_integration.go
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/export_function.go
  src/golang/cmd/server/handler/get_user_profile.go
  src/golang/cmd/server/handler/list_integration_objects.go
  src/golang/cmd/server/handler/list_integrations.go
  src/golang/cmd/server/handler/list_operators_for_integration.go
  src/golang/cmd/server/handler/list_workflow_objects.go
  src/golang/cmd/server/handler/refresh_workflow.go
  src/golang/cmd/server/handler/reset_api_key.go
  src/golang/cmd/server/handler/test_integration.go
  src/golang/cmd/server/handler/unwatch_workflow.go
  src/golang/cmd/server/handler/watch_workflow.go
Labels: skip_integration_test

#404 Returns workflow dag result status for unavailable operator and artifact results
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/handler/get_operator_result.go
  src/golang/cmd/server/server/handlers.go
Labels: run_integration_test

#403 Refactors execute workflow to improve persisting DAG status
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/handler/get_operator_result.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/utils/utils.go
Labels: run_integration_test

#401 Eng 1595 write dev documentation for complex sql
  src/golang/cmd/server/queries/postgres.go
  src/golang/cmd/server/queries/sqlite.go
  src/golang/cmd/server/queries/standard.go
  src/golang/lib/collections/artifact/standard.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
  src/golang/lib/collections/utils/utils.go
  src/golang/lib/collections/workflow/postgres.go
  src/golang/lib/collections/workflow/sqlite.go
  src/golang/lib/collections/workflow/standard.go
  src/golang/lib/collections/workflow_dag/standard.go
  src/golang/lib/collections/workflow_dag_result/sqlite.go
  src/golang/lib/collections/workflow_dag_result/standard.go
Labels: skip_integration_test

#405 ENG-1607 add integration unable to delete popup
  src/ui/common/src/components/integrations/dialogs/deleteIntegrationDialog.tsx
  src/ui/common/src/components/integrations/options.tsx
Labels: skip_integration_test

#408 Fix periodic integration tests and add slack reporting on failure
  .github/workflows/periodic-integration-tests.yml
  integration_tests/sdk/local_test.py
  integration_tests/sdk/param_test.py
  regression_tests/tests/workflow_comparer.py
Labels: run_integration_test

#392 Add support for lazy execution
  integration_tests/sdk/lazy_execution_test.py
  sdk/aqueduct/artifacts/base_artifact.py
  sdk/aqueduct/artifacts/bool_artifact.py
  sdk/aqueduct/artifacts/generic_artifact.py
  sdk/aqueduct/artifacts/numeric_artifact.py
  sdk/aqueduct/artifacts/table_artifact.py
  sdk/aqueduct/artifacts/utils.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/enums.py
  sdk/aqueduct/error.py
  sdk/aqueduct/flow_run.py
  sdk/aqueduct/integrations/s3_integration.py
  sdk/aqueduct/integrations/sql_integration.py
Labels: run_integration_test

#409 Adds AWS keys to S3 storage config
  src/golang/lib/collections/shared/storage.go
  src/python/aqueduct_executor/operators/utils/storage/config.py
  src/python/aqueduct_executor/operators/utils/storage/s3.py
Labels: run_integration_test

#413 Bump the timeout for periodic integration tests
  .github/workflows/periodic-integration-tests.yml
Labels: skip_integration_test

#411 [SDK/3] ENG-1509 Add flag to Update Mode indicating which is currently used
  sdk/aqueduct/responses.py
Labels: skip_integration_test

#407 Makes exported function code more user-friendly to read
  sdk/aqueduct/artifacts/numeric_artifact.py
  sdk/aqueduct/artifacts/table_artifact.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/tests/decorator_test.py
  sdk/aqueduct/utils.py
  src/golang/cmd/server/handler/export_function.go
  src/golang/cmd/server/request/export.go
  src/golang/cmd/server/routes/headers.go
  src/ui/common/src/utils/operators.ts
Labels: run_integration_test

#412 [UI/3] ENG-1509 Add flag to Update Mode indicating which is currently used
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: skip_integration_test

#410 [BE/3] ENG-1509 Add flag to Update Mode indicating which is currently used
  sdk/aqueduct/responses.py
  src/golang/cmd/server/handler/list_workflow_objects.go
  src/golang/lib/collections/operator/postgres.go
  src/golang/lib/collections/operator/sqlite.go
  src/golang/lib/collections/operator/standard.go
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: skip_integration_test
