Repository aqueducthq/aqueduct, pull requests merged in 2023-02, with the labels that each got.

#938 Ready for release 0.2.0
  CHANGELOG.md
  sdk/setup.py
  src/dockerfiles/Makefile
  src/dockerfiles/connectors/athena.dockerfile
  src/dockerfiles/connectors/bigquery.dockerfile
  src/dockerfiles/connectors/mysql.dockerfile
  src/dockerfiles/connectors/postgres.dockerfile
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/connectors/snowflake.dockerfile
  src/dockerfiles/connectors/sqlserver.dockerfile
  src/dockerfiles/function/function310.dockerfile
  src/dockerfiles/function/function37.dockerfile
  src/dockerfiles/function/function38.dockerfile
  src/dockerfiles/function/function39.dockerfile
  src/dockerfiles/gpu/py310_env.yml
  src/dockerfiles/gpu/py37_env.yml
  src/dockerfiles/gpu/py38_env.yml
  src/dockerfiles/gpu/py39_env.yml
  src/dockerfiles/lambda/function/requirements-37.txt
  src/dockerfiles/lambda/function/requirements.txt
  src/dockerfiles/lambda/requirements.txt
  src/golang/lib/constants.go
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
Labels: skip_integration_test

#937 ENG-2303
  src/ui/common/src/reducers/workflow.ts
Labels: skip_integration_test

#940 [1/2] Split test-config.yml into credentials and run config files
  .github/actions/setup-server/action.yml
  .github/actions/upload-artifacts/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/periodic-integration-tests.yml
  .gitignore
  integration_tests/no_concurrency/sdk/requirements_test.py
  integration_tests/sdk/conftest.py
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
  manual_qa_tests/deploy_example.py
  sdk/aqueduct/integrations/salesforce_integration.py
  sdk/aqueduct/integrations/sql_integration.py
  sdk/aqueduct/models/config.py
  src/python/aqueduct_executor/operators/connectors/data/extract.py
  src/python/aqueduct_executor/operators/connectors/data/spark/s3.py
  src/python/aqueduct_executor/operators/connectors/data/spark/snowflake.py
  src/python/aqueduct_executor/operators/function_executor/install_requirements.py
  src/python/aqueduct_executor/operators/spark/utils.py
  src/python/aqueduct_executor/operators/utils/storage/s3.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: skip_integration_test

#950 Deletes accidentally committed config file
  integration_tests/sdk/'
Labels: skip_integration_test

#954 Fix broken periodic integration tests
  .github/workflows/periodic-integration-tests.yml
Labels: skip_integration_test

#948 Adds support for running bigquery data integration testing
  integration_tests/sdk/data_integration_tests/conftest.py
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-credentials-example.yml
Labels: skip_integration_test

#935 [1/2][backend] Eng 2196 m2 allow user to configure notifications
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/engine/engine.go
  src/golang/lib/engine/notification.go
  src/golang/lib/models/shared/workflow.go
  src/golang/lib/models/workflow.go
  src/golang/lib/notification/email.go
  src/golang/lib/notification/slack.go
  src/golang/lib/repos/sqlite/workflow.go
  src/golang/lib/repos/tests/seed.go
  src/golang/lib/repos/tests/workflow.go
  src/golang/lib/repos/workflow.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/utils/database.go
  src/ui/common/src/components/integrations/cards/slackCard.tsx
  src/ui/common/src/components/workflows/WorkflowNotificationSettings.tsx
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/components/workflows/storageSelector.tsx
  src/ui/common/src/utils/data.ts
  src/ui/common/src/utils/workflows.tsx
Labels: run_integration_test

#946 ENG-2373 Improve Databricks Add Integration Form Validation
  src/ui/common/src/components/integrations/dialogs/databricksDialog.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
Labels: skip_integration_test

#959 Fix the skip integration test label
  .github/workflows/skipped-integration-tests.yml
Labels: run_integration_test, skip_integration_test

#926 Eng 2195 Implement application logic to send notifications
  src/golang/cmd/executor/executor/database.go
  src/golang/cmd/server/handler/edit_workflow.go
  src/golang/cmd/server/handler/register_workflow.go
  src/golang/cmd/server/request/integration.go
  src/golang/cmd/server/server/database.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/engine/databricks_executor.go
  src/golang/lib/engine/engine.go
  src/golang/lib/engine/notification.go
  src/golang/lib/engine/notification_test.go
  src/golang/lib/models/shared/workflow.go
  src/golang/lib/models/workflow.go
  src/golang/lib/notification/email.go
  src/golang/lib/notification/notification.go
  src/golang/lib/notification/notification_test.go
  src/golang/lib/notification/slack.go
  src/golang/lib/repos/sqlite/workflow.go
  src/golang/lib/repos/tests/seed.go
  src/golang/lib/repos/tests/workflow.go
  src/golang/lib/repos/workflow.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/utils/database.go
  src/ui/common/src/components/integrations/cards/slackCard.tsx
  src/ui/common/src/components/workflows/WorkflowNotificationSettings.tsx
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/utils/workflows.tsx
Labels: skip_integration_test

#953 Allows users to customize artifact names
  integration_tests/sdk/aqueduct_tests/extract.py
  integration_tests/sdk/aqueduct_tests/flow_test.py
  integration_tests/sdk/aqueduct_tests/naming_test.py
  integration_tests/sdk/data_integration_tests/s3_test.py
  sdk/aqueduct/artifacts/base_artifact.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/integrations/mongodb_integration.py
  sdk/aqueduct/integrations/naming.py
  sdk/aqueduct/integrations/s3_integration.py
  sdk/aqueduct/integrations/sql_integration.py
  sdk/aqueduct/models/dag.py
  src/python/aqueduct_executor/operators/connectors/data/execute.py
Labels: run_integration_test

#942 ENG 2288 Integrate SQLite to Integration Tests
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-credentials-example.yml
  scripts/data/sqlite_test_setup.sh
  scripts/data/sqlite_test_teardown.sh
Labels: run_integration_test

#957 Compete Athena integration test
  integration_tests/sdk/data_integration_tests/athena_test.py
  integration_tests/sdk/data_integration_tests/conftest.py
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
  sdk/aqueduct/integrations/sql_integration.py
  src/python/aqueduct_executor/operators/connectors/data/athena.py
Labels: run_integration_test

#951 Fixes bug in handling user error with mismatch in output count
  integration_tests/sdk/aqueduct_tests/error_handling_test.py
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/spark/execute_function.py
Labels: run_integration_test

#961 Allows use of flow name instead of id in SDK
  integration_tests/sdk/aqueduct_tests/flow_test.py
  integration_tests/sdk/conftest.py
  integration_tests/sdk/shared/flow_helpers.py
  integration_tests/sdk/shared/globals.py
  integration_tests/sdk/shared/utils.py
  sdk/aqueduct/client.py
  sdk/aqueduct/tests/flow_test.py
  sdk/aqueduct/utils/utils.py
Labels: run_integration_test

#949 Adds Python pkg version upper bounds
  sdk/requirements/python-3-10.txt
  sdk/requirements/python-3-7.txt
  sdk/requirements/python-3-8.txt
  sdk/requirements/python-3-9.txt
  src/python/bin/aqueduct
  src/python/requirements.txt
Labels: run_integration_test

#955 Eng 2289 complete mongodb integration testing
  integration_tests/sdk/aqueduct_tests/save.py
  integration_tests/sdk/data_integration_tests/conftest.py
  integration_tests/sdk/data_integration_tests/mongo_db_data_validator.py
  integration_tests/sdk/data_integration_tests/mongo_db_test.py
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
Labels: run_integration_test

#965 ENG-2406 Fix for metrics not showing properly on the data page.
  src/ui/common/src/components/pages/data/index.tsx
Labels: skip_integration_test

#966 0.2.0 --> 0.2.1 Release
  CHANGELOG.md
  sdk/setup.py
  src/dockerfiles/Makefile
  src/dockerfiles/connectors/athena.dockerfile
  src/dockerfiles/connectors/bigquery.dockerfile
  src/dockerfiles/connectors/mysql.dockerfile
  src/dockerfiles/connectors/postgres.dockerfile
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/connectors/snowflake.dockerfile
  src/dockerfiles/connectors/sqlserver.dockerfile
  src/dockerfiles/function/function310.dockerfile
  src/dockerfiles/function/function37.dockerfile
  src/dockerfiles/function/function38.dockerfile
  src/dockerfiles/function/function39.dockerfile
  src/dockerfiles/gpu/py310_env.yml
  src/dockerfiles/gpu/py37_env.yml
  src/dockerfiles/gpu/py38_env.yml
  src/dockerfiles/gpu/py39_env.yml
  src/dockerfiles/lambda/function/requirements-37.txt
  src/dockerfiles/lambda/function/requirements.txt
  src/dockerfiles/lambda/requirements.txt
  src/golang/lib/constants.go
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
Labels: skip_integration_test

#962 ENG-2171 Add Tabs to Workflow Details Page
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/workflows/ReactFlowCanvas.tsx
  src/ui/common/src/components/workflows/WorkflowSettings.tsx
  src/ui/common/src/components/workflows/workflowHeader.tsx
Labels: skip_integration_test

#973 Fix performance issue when using S3 as metadata storage
  src/golang/lib/storage/file.go
  src/golang/lib/storage/gcs.go
  src/golang/lib/storage/s3.go
  src/golang/lib/storage/storage.go
  src/golang/lib/workflow/utils/storage.go
Labels: run_integration_test

#972 Allows user to specify optional Snowflake schema in UI
  src/ui/common/src/components/integrations/cards/snowflakeCard.tsx
  src/ui/common/src/components/integrations/dialogs/snowflakeDialog.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#974 Adds a storage.exists() check to replace extra storage.get()
  src/python/aqueduct_executor/operators/utils/storage/file.py
  src/python/aqueduct_executor/operators/utils/storage/gcs.py
  src/python/aqueduct_executor/operators/utils/storage/s3.py
  src/python/aqueduct_executor/operators/utils/storage/storage.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: run_integration_test

#960 ENG-2285 MySQL Integration Testing Setup
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
  scripts/mysql_test_setup.sh
  scripts/mysql_test_teardown.sh
Labels: run_integration_test

#956 ENG-2286 Postgres Integration Test Setup
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
  scripts/postgres_test_setup.sh
  scripts/postgres_test_teardown.sh
Labels: run_integration_test

#976 Fix bug in S3 GET error handling and k8s pod status handling
  src/golang/lib/job/k8s.go
  src/golang/lib/job/poll.go
  src/golang/lib/storage/s3.go
Labels: run_integration_test

#967 ENG 2405 Fix bug where log and stack traces divs don't have backgrounds
  src/ui/common/src/components/LogViewer/index.tsx
Labels: skip_integration_test

#978 Fix bug where we are retrieving artifact payloads on workflow page
  src/golang/cmd/server/handler/get_artifact_result.go
  src/golang/cmd/server/routes/headers.go
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/workflows/StatusBar.tsx
  src/ui/common/src/handlers/getArtifactResultContent.ts
  src/ui/common/src/reducers/workflow.ts
Labels: run_integration_test

#968 Eng 2284 Integrate MariaDB to Integration Tests
  integration_tests/sdk/data_integration_tests/conftest.py
  integration_tests/sdk/test-config-example.yml
  integration_tests/sdk/test-credentials-example.yml
  scripts/data/mariadb_test_setup.sh
  scripts/data/mariadb_test_teardown.sh
  sdk/aqueduct/integrations/connect_config.py
  sdk/aqueduct/integrations/sql_integration.py
Labels: run_integration_test

#980 ENG-2453 Dag Width and Height Fixes
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/components/workflows/ReactFlowCanvas.tsx
Labels: skip_integration_test

#969 Pass in jobManager to Operators if shared context is required
  src/golang/lib/airflow/schedule.go
  src/golang/lib/engine/aq_engine.go
  src/golang/lib/job/config.go
  src/golang/lib/job/config_test.go
  src/golang/lib/workflow/dag/workflow_dag.go
  src/golang/lib/workflow/operator/config.go
  src/golang/lib/workflow/operator/operator.go
Labels: run_integration_test

#983 ENG-2409 TabPanel Component
  src/ui/common/src/components/LogViewer/index.tsx
  src/ui/common/src/components/Tabs/TabPanel.tsx
  src/ui/common/src/components/Tabs/Tabs.styles.ts
  src/ui/common/src/components/integrations/dialogs/athenaDialog.tsx
  src/ui/common/src/components/integrations/dialogs/s3Dialog.tsx
  src/ui/common/src/components/pages/workflow/id/index.tsx
  src/ui/common/src/index.tsx
Labels: skip_integration_test

#986 ENG 2332 Differentiate warning between pending and upstream failure
  src/ui/common/src/components/pages/artifact/id/components/Preview.tsx
  src/ui/common/src/components/pages/artifact/id/index.tsx
Labels: skip_integration_test

#991 ENG-2457: Fixes DAG flashing on workflow details page
  src/ui/common/src/components/pages/workflow/id/index.tsx
Labels: skip_integration_test

#975 Eng 2341 Allow user to configure if a notification applies to all workflows
  src/golang/lib/engine/notification.go
  src/golang/lib/lib_utils/utils.go
  src/golang/lib/lib_utils/utils_test.go
  src/golang/lib/models/shared/integration_config.go
  src/golang/lib/notification/email.go
  src/golang/lib/notification/notification.go
  src/golang/lib/notification/slack.go
  src/ui/common/src/components/integrations/cards/emailCard.tsx
  src/ui/common/src/components/integrations/cards/slackCard.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/emailDialog.tsx
  src/ui/common/src/components/integrations/dialogs/slackDialog.tsx
  src/ui/common/src/components/notifications/AccountNotificationSettingsSelector.tsx
  src/ui/common/src/components/notifications/CheckboxEntry.tsx
  src/ui/common/src/components/notifications/NotificationLevelSelector.tsx
  src/ui/common/src/components/pages/AccountPage.tsx
  src/ui/common/src/components/pages/integrations/index.tsx
  src/ui/common/src/components/workflows/WorkflowNotificationSettings.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/reducers/integrations.ts
  src/ui/common/src/utils/docs.ts
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#989 [2/2] Improve parameter management from Aqueduct client
  integration_tests/sdk/aqueduct_tests/param_test.py
  sdk/aqueduct/client.py
  sdk/aqueduct/utils/type_inference.py
Labels: run_integration_test

#988 [1/2] Allow for previewing an operator with custom parameters
  integration_tests/sdk/aqueduct_tests/multiple_output_test.py
  integration_tests/sdk/aqueduct_tests/naming_test.py
  integration_tests/sdk/aqueduct_tests/param_test.py
  integration_tests/sdk/run_tests.py
  sdk/aqueduct/artifacts/base_artifact.py
  sdk/aqueduct/artifacts/create.py
  sdk/aqueduct/artifacts/numeric_artifact.py
  sdk/aqueduct/artifacts/table_artifact.py
  sdk/aqueduct/client.py
  sdk/aqueduct/decorator.py
  sdk/aqueduct/integrations/google_sheets_integration.py
  sdk/aqueduct/integrations/mongodb_integration.py
  sdk/aqueduct/integrations/naming.py
  sdk/aqueduct/integrations/s3_integration.py
  sdk/aqueduct/integrations/salesforce_integration.py
  sdk/aqueduct/integrations/save.py
  sdk/aqueduct/integrations/sql_integration.py
  sdk/aqueduct/models/dag.py
  sdk/aqueduct/models/operators.py
  sdk/aqueduct/utils/dag_deltas.py
  sdk/aqueduct/utils/naming.py
  sdk/aqueduct/utils/type_inference.py
  sdk/aqueduct/utils/utils.py
Labels: skip_integration_test

#981 Log performance breakdown when running Python operators
  src/dockerfiles/function/start-function-executor.sh
  src/dockerfiles/gpu/start-function-executor-gpu.sh
  src/python/aqueduct_executor/operators/connectors/data/execute.py
  src/python/aqueduct_executor/operators/connectors/data/main.py
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/function_executor/extract_function.py
  src/python/aqueduct_executor/operators/function_executor/install_requirements.py
  src/python/aqueduct_executor/operators/function_executor/main.py
  src/python/aqueduct_executor/operators/spark/execute_function.py
  src/python/aqueduct_executor/operators/utils/enums.py
  src/python/aqueduct_executor/operators/utils/utils.py
  src/python/aqueduct_executor/start-function-executor.sh
Labels: run_integration_test

#990 Fix bug where we don't allow user switch engine back to Aqueduct
  integration_tests/sdk/aqueduct_tests/external_compute_test.py
  integration_tests/sdk/aqueduct_tests/mixed_compute_test.py
  integration_tests/sdk/conftest.py
  sdk/aqueduct/client.py
  sdk/aqueduct/utils/utils.py
Labels: run_integration_test

#1001 0.2.1 --> 0.2.2 Release
  CHANGELOG.md
  sdk/setup.py
  src/dockerfiles/Makefile
  src/dockerfiles/connectors/athena.dockerfile
  src/dockerfiles/connectors/bigquery.dockerfile
  src/dockerfiles/connectors/mysql.dockerfile
  src/dockerfiles/connectors/postgres.dockerfile
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/connectors/snowflake.dockerfile
  src/dockerfiles/connectors/sqlserver.dockerfile
  src/dockerfiles/function/function310.dockerfile
  src/dockerfiles/function/function37.dockerfile
  src/dockerfiles/function/function38.dockerfile
  src/dockerfiles/function/function39.dockerfile
  src/dockerfiles/gpu/py310_env.yml
  src/dockerfiles/gpu/py37_env.yml
  src/dockerfiles/gpu/py38_env.yml
  src/dockerfiles/gpu/py39_env.yml
  src/dockerfiles/lambda/function/requirements-37.txt
  src/dockerfiles/lambda/function/requirements.txt
  src/dockerfiles/lambda/requirements.txt
  src/golang/lib/constants.go
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
Labels: skip_integration_test

#999 ENG-2475: Bug: Better align operator and artifact 'outputs' and 'generated by' headers
  src/ui/common/src/components/pages/operator/id/index.tsx
Labels: skip_integration_test

#1000 ENG 2400 Fix aqueduct install mariadb for Mac M1
  src/python/bin/aqueduct
Labels: skip_integration_test

#998 ENG-2369 Checks List Overview in Check Metadata Table Cell
  src/ui/common/src/components/pages/workflows/components/CheckItem.tsx
  src/ui/common/src/components/pages/workflows/components/ChecksListPreview.tsx
  src/ui/common/src/components/pages/workflows/components/MetricItem.tsx
  src/ui/common/src/components/workflows/workflowStatus.tsx
  src/ui/common/src/utils/shared.ts
Labels: skip_integration_test

#1004 Fix bug where rerunning a function with multiple implicit parameters fails
  integration_tests/sdk/aqueduct_tests/param_test.py
  sdk/aqueduct/artifacts/create.py
  sdk/aqueduct/client.py
  sdk/aqueduct/decorator.py
Labels: run_integration_test

#1006 Removes deprecated save API from README
  README.md
Labels: skip_integration_test

#1005 Support notifications in manual QA testing script
  manual_qa_tests/README.md
  manual_qa_tests/initialize.py
  manual_qa_tests/notification.py
  sdk/aqueduct/constants/enums.py
  sdk/aqueduct/integrations/connect_config.py
Labels: run_integration_test

#987 Eng 2377 Delete local lambda images after connecting to lambda
  src/golang/lib/lambda/utils.go
Labels: run_integration_test

#1010 Fix notifications doc link in UI
  src/ui/common/src/utils/docs.ts
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#1008 ENG-2084 Add details to settings page about what storage is being used for metadata
  src/golang/cmd/server/handler/get_config.go
  src/golang/cmd/server/routes/routes.go
  src/golang/cmd/server/server/handlers.go
  src/golang/lib/models/shared/storage.go
  src/ui/common/src/components/pages/AccountPage.tsx
  src/ui/common/src/components/workflows/storageSelector.tsx
  src/ui/common/src/utils/integrations.ts
Labels: run_integration_test

#1012 Adds tensorflow to s3 images
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/lambda/connectors/s3.dockerfile
Labels: skip_integration_test

#1007 Improve the serialization performance of pickled lists and tuples
  integration_tests/sdk/aqueduct_tests/data_test.py
  integration_tests/sdk/aqueduct_tests/param_test.py
  integration_tests/sdk/data/aqueduct.jpg
  integration_tests/sdk/data_integration_tests/mongo_db_test.py
  integration_tests/sdk/data_integration_tests/s3_data_validator.py
  integration_tests/sdk/data_integration_tests/s3_test.py
  integration_tests/sdk/run_tests.py
  sdk/aqueduct/constants/enums.py
  sdk/aqueduct/tests/data/aqueduct.jpg
  sdk/aqueduct/tests/serialization_test.py
  sdk/aqueduct/utils/format.py
  sdk/aqueduct/utils/function_packaging.py
  sdk/aqueduct/utils/serialization.py
  sdk/aqueduct/utils/type_inference.py
  sdk/aqueduct/utils/utils.py
  src/python/aqueduct_executor/operators/connectors/data/s3.py
  src/python/aqueduct_executor/operators/connectors/data/s3_serialization.py
  src/python/aqueduct_executor/operators/function_executor/execute.py
  src/python/aqueduct_executor/operators/spark/utils.py
  src/python/aqueduct_executor/operators/utils/utils.py
Labels: run_integration_test

#1014 Fix bug when serializing a list of tables to S3
  integration_tests/sdk/data_integration_tests/s3_data_validator.py
  integration_tests/sdk/data_integration_tests/s3_test.py
  src/python/aqueduct_executor/operators/connectors/data/s3_serialization.py
Labels: run_integration_test

#1015 Creates 0.2.3 Release
  CHANGELOG.md
  sdk/setup.py
  src/dockerfiles/Makefile
  src/dockerfiles/connectors/athena.dockerfile
  src/dockerfiles/connectors/bigquery.dockerfile
  src/dockerfiles/connectors/mysql.dockerfile
  src/dockerfiles/connectors/postgres.dockerfile
  src/dockerfiles/connectors/s3.dockerfile
  src/dockerfiles/connectors/snowflake.dockerfile
  src/dockerfiles/connectors/sqlserver.dockerfile
  src/dockerfiles/function/function310.dockerfile
  src/dockerfiles/function/function37.dockerfile
  src/dockerfiles/function/function38.dockerfile
  src/dockerfiles/function/function39.dockerfile
  src/dockerfiles/gpu/py310_env.yml
  src/dockerfiles/gpu/py37_env.yml
  src/dockerfiles/gpu/py38_env.yml
  src/dockerfiles/gpu/py39_env.yml
  src/dockerfiles/lambda/function/requirements-37.txt
  src/dockerfiles/lambda/function/requirements.txt
  src/dockerfiles/lambda/requirements.txt
  src/golang/lib/constants.go
  src/python/bin/aqueduct
  src/python/requirements.txt
  src/python/setup.py
  src/ui/app/package.json
  src/ui/common/package-lock.json
  src/ui/common/package.json
Labels: skip_integration_test

#1017 Updates manual qa test checklist
  manual_qa_tests/README.md
  manual_qa_tests/initialize.py
  manual_qa_tests/notification.py
Labels: skip_integration_test

#1016 ENG-2508: Safari Bug Fixes
  src/ui/common/package-lock.json
  src/ui/common/package.json
  src/ui/common/src/components/pages/AccountPage.tsx
  src/ui/common/src/components/pages/check/id/index.tsx
  src/ui/common/src/components/workflows/nodes/CheckOperatorNode.tsx
  src/ui/common/src/components/workflows/storageSelector.tsx
Labels: skip_integration_test

#1020 ENG 2499 open docs and feedback links in new tab
  src/ui/common/src/components/layouts/menuSidebar.tsx
Labels: skip_integration_test

#993 Use Spark integration on SDK
  sdk/aqueduct/client.py
  sdk/aqueduct/constants/enums.py
  sdk/aqueduct/integrations/__init__.py
  sdk/aqueduct/integrations/connect_config.py
  sdk/aqueduct/integrations/spark_integration.py
  sdk/aqueduct/models/config.py
  sdk/aqueduct/models/dag.py
  sdk/aqueduct/tests/enum_test.py
  sdk/aqueduct/utils/utils.py
Labels: run_integration_test

#994 Adding Spark integration to UI
  sdk/aqueduct/constants/enums.py
  src/ui/common/src/components/integrations/cards/card.tsx
  src/ui/common/src/components/integrations/cards/sparkCard.tsx
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/sparkDialog.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/utils/integrations.ts
Labels: skip_integration_test

#995 [1/2] Add golang apache livy client
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/lib/engine/authenticate.go
  src/golang/lib/lib_utils/utils.go
  src/golang/lib/livy/client.go
  src/golang/lib/livy/client_test.go
  src/golang/lib/livy/entrypoints.go
  src/golang/lib/livy/types.go
  src/golang/lib/models/shared/integration_config.go
  src/golang/lib/models/shared/service.go
  src/ui/common/src/components/integrations/dialogs/dialog.tsx
  src/ui/common/src/components/integrations/dialogs/sparkDialog.tsx
Labels: run_integration_test

#1024 Pull test-config.yml from S3 for pre-merge integration tests
  .github/actions/fetch-test-config/action.yml
  .github/workflows/integration-tests.yml
  integration_tests/sdk/conftest.py
  integration_tests/sdk/setup_integration.py
  integration_tests/sdk/test-config-example.yml
  sdk/aqueduct/backend/api_client.py
  sdk/aqueduct/client.py
  sdk/aqueduct/integrations/__init__.py
  sdk/aqueduct/integrations/connect_config.py
  sdk/aqueduct/tests/connect_config_test.py
  src/golang/cmd/server/handler/connect_integration.go
Labels: skip_integration_test

#1028 Complete our pre-merge test suite
  .github/workflows/integration-tests.yml
  .github/workflows/skipped-integration-tests.yml
Labels: skip_integration_test

#1031 Copies migrator binary instead of moving it
  src/Makefile
Labels: skip_integration_test

#1030 Fixes bug in the storage migration process with migrating failed artifact results
  src/golang/cmd/server/handler/connect_integration.go
  src/golang/lib/workflow/utils/migrate.go
Labels: skip_integration_test

#1027 Allows users to reuse operator in a workflow
  integration_tests/sdk/aqueduct_tests/naming_test.py
  integration_tests/sdk/aqueduct_tests/operator_test.py
  sdk/aqueduct/decorator.py
Labels: skip_integration_test

#1021 Eng 2506 storage metadata design feedback
  src/ui/common/src/components/pages/account/AccountPage.tsx
  src/ui/common/src/components/pages/account/MetadataStorageInfo.tsx
  src/ui/common/src/index.tsx
  src/ui/common/src/stories/MetadataStorageInfo.stories.tsx
Labels: skip_integration_test

#1029 Eng 2450 fix node layout algo
  src/ui/common/src/components/workflows/ReactFlowCanvas.tsx
  src/ui/common/src/components/workflows/nodes/BaseNode.styles.tsx
  src/ui/common/src/components/workflows/nodes/CheckOperatorNode.tsx
  src/ui/common/src/components/workflows/nodes/MetricOperatorNode.tsx
  src/ui/common/src/components/workflows/nodes/Node.tsx
  src/ui/common/src/components/workflows/nodes/NodeStatus.tsx
  src/ui/common/src/reducers/workflow.ts
Labels: skip_integration_test
